body {
  background-color: rgba(7, 3, 255, 0.096);    
  }

  .card, .row, .container, .container-fluid{
    height:100vh;
  }

  .user1, .user2 {
    padding: .25rem .5rem;
    font-size: 16.5px;
    line-height: 1.5;
    border-radius: .2rem;
    color: #343a40!important;
    margin: 4px 0px;
    max-width: 75%;
  }

  .user1{
    background-color: #f5f6f7!important;
    float: left;
    clear: left;
  }

  .user2 {
    background-color: #92E1E2!important;
    float: right;
    clear: right;
  }

  .user1_meta, .user2_meta {
    font-size: 12px;
    background-color: transparent!important;
  }  

  .mx-w{
    max-width: 100%;
  }

  .media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
  }

  .media-meta-day::before {
    margin-right: 16px;
  }
  
  .media-meta-day::before,
  .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
  }
  
  .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
  }
  
  .media-meta-day::after {
    margin-left: 16px
  }

  .rounded-custom-left{
    border-top-left-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
    border-right: 0px;
  }

  .rounded-custom-right{
    border-top-right-radius: 1.25rem!important;
    border-bottom-right-radius: 1.25rem!important;
    border-left: 0px;    
  }

  .rounded-custom-right:focus, .rounded-custom-left:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da;
  }

  .scroll-beh{
    scroll-behavior: smooth;
  }

  .sidebar {
    width : 100%;
    height:100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
    overflow-y: auto;
    transition: 0.5 ease;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .cont-h{
    height: 20px;
  }

  .bg-cust{
    background-color: #afafaf41;
  }
  
  .unstyled-link {
    color:inherit;
  }
  
  .unstyled-link:hover {
    text-decoration: none;
    color:inherit;
  }
  