body {
    background-color: #f9f9fa
  }

  .user1 {
    padding: .25rem .5rem;
    font-size: 16.5px;
    line-height: 1.5;
    border-radius: .2rem;
    background-color: #f5f6f7!important;
    color: #343a40!important;
    margin: 4px 0px;
    float: left;
    clear: left;
  }

  .user1_meta  {
    font-size: 12px;
    background-color: transparent!important;
  }

  .user2 {
    padding: .25rem .5rem;
    font-size: 16.5px;
    line-height: 1.5;
    border-radius: .2rem;
    background-color: #92E1E2!important;
    color: #343a40!important;
    margin: 4px 0px;
    float: right;
    clear: right;
  }

  .user2_meta  {
    font-size: 12px;
    background-color: transparent!important;
  }

  .media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
  }

  .media-meta-day::before {
    margin-right: 16px;
  }
  
  .media-meta-day::before,
  .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb
  }
  
  .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb
  }
  
  .media-meta-day::after {
    margin-left: 16px
  }

  .rounded-custom-left{
    border-top-left-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
    border-right: 0px;
  }

  .rounded-custom-right{
    border-top-right-radius: 1.25rem!important;
    border-bottom-right-radius: 1.25rem!important;
    border-left: 0px;    
  }

  .scroll-beh{
    scroll-behavior: smooth;
  }
